#style, p{
    margin-right: 1140px;
}
#span1{
    text-decoration: underline;
}
#span2{
    background: orange;
}
#span3{
    color: red;font-weight: bold;
}
#span4{
    color: red;font-weight: bold;
}
#span5{
    text-decoration: underline;
}